.btn{
	text-align: center;
	border-radius: 3px;
	font-size: 1rem;
}

.btn-primary{
	color: $paper;
	background: $light-blue;
	border: solid 1px $light-blue;
	border-radius: 24px;

	&:hover, &:focus{
		color: $paper;
		background: darken($light-blue, 8%);
		border: solid 1px darken($light-blue, 8%);
	}
}

.btn-secondary{
	color: $paper;
	background: transparent;
	border: solid 2px $paper;
	border-radius: 24px;

	&:hover, &:focus{
		background: rgba(255,255,255,.3);
		color: $paper;
		border: solid 2px $paper;
	}
}