.card{
	border: solid 1px $border;
	border-radius: 3px;
	padding: 24px 16px;
	position: relative;
	margin-bottom: 30px;
	text-align: center;

	img{
		margin: 0 auto;
	}

	&:hover{
		background-color: $grey-1;
	}

	.card-number{
		position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: $grey-1;
    color: $grey-4;
    font-weight: bold;
    font-size: 20px;
    border-right: solid 1px $border;
    border-bottom: solid 1px $border;
    border-bottom-right-radius: 3px;
	}

	.benefit-icon{
		width: 60px;
		height: 60px;
		margin: 1rem auto;
		display: block;
		
		i{
			background-color: $light-blue;
			color: $paper;
			width: 60px;
			height: 60px;
			border-radius: 30px;
			text-align: center;
			line-height: 60px;
		}
	}
}

.card-callout{
	background: $grey-1;
	border-radius: 3px;
	padding: 1rem;
	font-weight: 300;
}

#availability{
	.card{
		border: none;
		background: $paper-24;
		padding: 16px;
		text-align: left;

		label{
			text-transform: uppercase;
			color: $paper-74;
		}

		h1, small{
			color: $orange;

			& small{
				font-weight: 300;
			}
		}
	}
}

#page-kafka{
	.benefit{
		min-height: 372px;
	}
}