.product-list{
	-webkit-padding-start: 0;
	list-style-type: none;

		li{
		border-radius: 2px;
		padding: 6px;

		&:hover{
			background-color: $grey-1;
		}

		.category-icon{
			width: 60px;
			height: 60px;
			display: inline-block;
			float: left;
		}

		div{
			display: inline-block;
			width: calc(100% - 80px);
			margin-left: 8px;

			h3{
				margin: 0 0 4px 0;
				dispaly: inline-block!important;
			}
		}
	}
}

ul.unstyled{
	list-style-type: none;
	-webkit-padding-start: 0;
	line-height: 2;
	font-weight: 400;
}

ul.checklist{
	list-style-type: none;

	li{
		position: relative;
		margin-left: 12px;
		padding: 24px 12px;
		line-height: 1.5;

		&:before{
			content: url('../img/ic_circle_check.svg');
			display: inline-block;
			width: 40px;
			height: 40px;
			position: absolute;
			left: -48px;
		}
	}
}

ul.icon-feature{
	list-style-type: none;
	-webkit-padding-start: 0;

	li{
		float: left;
		margin-bottom: 24px;

		i{
			color: $light-blue;
			font-size: 36px;
			width: 40px;
			display: inline-block;
			float: left;
		}

		span{
			dispaly: inline-block;
			line-height: 40px;
		}

	}
}