.hero{
	position: relative;
	width: 100%;
	min-height: 300px;
	background-color: $dark-blue;
	background-size: 112px;

	.primary-nav{
		background: $paper;
		height: 54px;
		box-shadow: 0 2px 4px rgba(0,0,0,.2);

		.logo{
			display: inline-block;
		}

		#navigation{
			display: inline-block;
			list-style-type: none;
			margin-left: 40px;

			li{
				display: inline-block;
				padding-right: 8px;
				
				a{
					font-size: 1rem;
					color: $grey-3;
					line-height: 51px;
					display: inline-block;
					padding: 0;
					background: transparent;
					border-radius: 0;
					margin: 0 4px;

					&:hover, &:focus{
						color: $grey-5;
						text-decoration: none;
						border-bottom: solid 3px $light-blue;
					}
				}

				&.active a{
					color: $grey-5;
					border-bottom: solid 3px $light-blue;
				}
			}
		}

		#search{
			display: inline-block;
			float: right;
			width: 240px;
			position: relative;

			input{
				position: relative;
				background-color: #efefef;
				border-radius: 24px;
				border: none;
				margin: 10px 0;
				color: $grey-4;
				box-shadow: none;

				&::-webkit-input-placeholder { /* Chrome */
				  color: $grey-3;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $grey-3;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $grey-3;
				  opacity: 1;
				}
				&:-moz-placeholder { /* Firefox 4 - 18 */
				  color: $grey-3;
				  opacity: 1;
				}
			}
		}
	}

	.breadcrumbs{
		border-top: solid 1px $border;
		box-shadow: 0 2px 4px rgba(0,0,0,.2);
		background: $paper;

		.breadcrumbs-list{
			list-style-type: none;
			-webkit-padding-start: 0;
			margin-bottom: 0;

			li{
				display: inline-block;
				color: #99A9B1;
				padding: 4px 0px;
				font-size: 0.8rem;

				&::after{
					content: ' / ';
				}

				&:last-child{
					&::after{
						content: ' ';
					}
				}
			}
		}
	}
	
	@media(max-width: 990px){
		.primary-nav{
			height: auto;

			.logo{
				padding: 12px 0;
			}
			#navigation{
				display: none;
		    margin: 0;

		    li{
		    	display: block;
		    }

		    &.show{
		    	display: block;
		    }
			}

			#search{
				width: 100%;
				display: none;

				&.show{
		    	display: block;
		    }
			}
		}

		#toggle-mobile{
			padding: 12px;
			display: inline-block;
		}
	}

	.message{
		padding-bottom: 2rem;
	}

	// Responsive

	.mobile-menu, .mobile-search{
		color: $light-blue;
		padding:8px;
		width: 50px;
		height: 50px;
		display: inline-block;

		&:hover{
			color: $dark-blue;
		}
	}
}