#hero-services{
	background-image: url('../img/ic_hero_services.svg');
}

#hero-solutions{
	background-image: url('../img/ic_hero_solutions.svg');
}

#hero-contact{
	background-image: url('../img/ic_hero_contact.svg');
}

#hero-sdlc{
	background-image: url('../img/ic_hero_sdlc.svg');
}

// Use this class to assign appropriate icon background per product/service.  Class name should match product category.
.hero-analytics{
	background-image: url('../img/ic_hero_analytics.svg');
}
.hero-application-services{
	background-image: url('../img/ic_hero_application-services.svg');
}
.hero-collaboration{
	background-image: url('../img/ic_hero_collaboration.svg');
}
.hero-compute{
	background-image: url('../img/ic_hero_compute.svg');
}
.hero-developer{
	background-image: url('../img/ic_hero_developer.svg');
}
.hero-information-security{
	background-image: url('../img/ic_hero_information-security.svg');
}
.hero-messaging{
	background-image: url('../img/ic_hero_messaging.svg');
}
.hero-monitoring{
	background-image: url('../img/ic_hero_monitoring.svg');
}
.hero-networking{
	background-image: url('../img/ic_hero_networking.svg');
}
.hero-storage{
	background-image: url('../img/ic_hero_storage.svg');
}