// all sides
.pad-4{
	padding: 4px;
}

.pad-8{
	padding: 8px;
}

.pad-12{
	padding: 12px;
}

.pad-16{
	padding: 16px;
}

.pad-24{
	padding: 24px;
}

.pad-36{
	padding: 36px;
}

// vertical
.pad-4-vertical{
	padding: 4px 0;
}

.pad-8-vertical{
	padding: 8px 0;
}

.pad-12-vertical{
	padding: 12px 0;
}

.pad-16-vertical{
	padding: 16px 0;
}

.pad-24-vertical{
	padding: 24px 0;
}

.pad-36-vertical{
	padding: 36px 0;
}

// horizontal
.pad-4-horizontal{
	padding: 0 4px;
}

.pad-8-horizontal{
	padding: 0 8px;
}

.pad-12-horizontal{
	padding: 0 12px;
}

.pad-16-horizontal{
	padding: 0 16px;
}

.pad-24-horizontal{
	padding: 0 24px;
}

.pad-36-horizontal{
	padding: 0 36px;
}