//Base
$paper:             #ffffff;
$paper-12:					rgba(255,255,255,.12);
$paper-24:					rgba(255,255,255,.24);
$paper-54:					rgba(255,255,255,.54);
$paper-74:					rgba(255,255,255,.74);
$black:							#000000;
$black-12:					rgba(0,0,0,.12);
$black-24:					rgba(0,0,0,.24);
$black-54:					rgba(0,0,0,.54);
$black-74:					rgba(0,0,0,.74);	
$border:						#dddddd;	

// background
$grey-1:						#efefef;

// product badge background
$grey-2:						#393D45;

// dark ui background
$grey-3:						#2B303B;

// sidebar background
$grey-4:						#222730;

// darkest grey, widget backgrounds, sidebar drawer
$grey-5:						#101215;

// brand colors
$light-blue:				#009CDE;
$dark-blue:					#0070BA;
$purple:						#640487;
$pink:							#DE0063;
$orange:						#FF9600;
$green:							#00CF92;
